header
{
    border-radius: 1px solid;
}

.logo
{
    width: 10px;
    height: 10px;
    padding: 8px 8px 8px 0;
}
.logo-text
{
    font-weight: 700;
    height: 50px;
    width: 50px;
}
.login,.signup
{
    background-color: transparent;
    border-color: lightskyblue;
    color: lightskyblue;
    fill: lightskyblue;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;

}
.login:hover,.signup:hover
{
    background-color:blue;
    opacity: 0.7;
}